<launch>
  <arg name="posestamp_topic" default="/truth_map_posestamped" />
  <arg name="point_topic" default="/map_all" />
  <arg name="ignored" default="true"/>

  <node pkg="loam_interface" type="icp_ours" name="icp" output="screen" required="true" />
  <node pkg="loam_interface" type="loamInterface" name="loamInterface" output="screen" required="true">
    <param name="stateEstimationTopic" type="string" value="$(arg posestamp_topic)" />
    <param name="registeredScanTopic" type="string" value="$(arg point_topic)" />
    <param name="flipStateEstimation" type="bool" value="false" />
    <param name="flipRegisteredScan" type="bool" value="false" />
    <param name="sendTF" type="bool" value="false" />
    <param name="reverseTF" type="bool" value="false" />
  </node>

  <group if="$(arg ignored)">
    <node pkg="loam_interface" type="visualize_map1" name="visualize_map1" output="screen" required="true" />
  </group>

  <group unless="$(arg ignored)">
    <node pkg="loam_interface" type="visualize_map0" name="visualize_map0" output="screen" required="true" />
  </group>
</launch>
