<launch>
  <arg name="posestamp_topic" default="/X1/truth_map_posestamped" />
  <arg name="point_topic" default="/X1/map_point" />
  <arg name="frame_laser" default="/X1/front_laser"/>

  <node pkg="loam_interface" type="icp" name="icp" output="screen" required="true" >
    <param name="frame_laser" type="string" value="$(arg frame_laser)" />
  </node>
  <node pkg="loam_interface" type="loamInterface" name="loamInterface" output="screen" required="true">
    <param name="stateEstimationTopic" type="string" value="$(arg posestamp_topic)" />
    <param name="registeredScanTopic" type="string" value="$(arg point_topic)" />
    <param name="flipStateEstimation" type="bool" value="false" />
    <param name="flipRegisteredScan" type="bool" value="false" />
    <param name="sendTF" type="bool" value="false" />
    <param name="reverseTF" type="bool" value="false" />
    <param name="frame_laser" type="string" value="$(arg frame_laser)" />
  </node>

</launch>
